*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
.btn-m{
    width: 223;
height: 56;
border-radius: 4px;
padding-top: 16px;
padding-right: 48px;
padding-bottom: 16px;
padding-left: 48px;
border-width: 1px;
background-color: white;
}
.textbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.ota{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}